footer.footer
  .container
    .row
      .col-xs-10.col-sm-12.col-xs-offset-1.col-sm-offset-0
        svg.line(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
          line(x1='0', y1='5', x2='1000', y2='5')
        h3
          | be the future
          span.blk +
          |  let’s work
    .row
      .col-xs-10.col-sm-5.col-md-4.col-lg-3.col-xs-offset-1.col-sm-offset-1.col-sm-push-6
        p.desc
          | We like to think we are a few light years ahead of the game. If you're looking for an agency that delivers time after time and thrives in galaxies far and away, you've landed in the right place.
        h4 mission control:
        p
          | 11 East Hubbard Street Suite 400
          br
          |       Chicago, Illinois 60611
          br
          |       312 667 4601
      .col-xs-12.col-sm-6.col-sm-pull-6.col-md-pull-5.col-lg-pull-4
        .row.contact-us
          .col-xs-10.col-sm-12.col-xs-offset-1.col-sm-offset-0
            form#frm-contact-footer.frm-contact(method='POST', action='http://futuremandigital.com/', accept-charset='UTF-8')
              input(name='_token', type='hidden', value='tAUNPhE6OK7Pmy8DefBbfKoX6rh3VxHT5ZtOlXSb')
              .row
                .col-xs-12.col-sm-6
                  input#name.form-control(placeholder='Name*', name='name', type='text')
                .col-xs-12.col-sm-6
                  input#email.form-control(placeholder='Email*', name='email', type='text')
                  span(style='opacity: 1; left: 213px; top: 20.5px; width: 19px; min-width: 19px; height: 13px; position: absolute; border: none; display: inline; visibility: visible; z-index: auto; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAYAAABLjFUnAAAACXBIWXMAAAsTAAALEwEAmpwYAAABMmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarZG9SsNQGIaf04qCQxAJbsLBQVzEn61j0pYiONQokmRrkkMVbXI4Of508ia8CAcXR0HvoOIgOHkJboI4ODgECU4i+EzP9w4vL3zQWPE6frcxB6PcmqDnyzCK5cwj0zQBYJCW2uv3twHyIlf8RMD7MwLgadXr+F3+xmyqjQU+gc1MlSmIdSA7s9qCuATc5EhbEFeAa/aCNog7wBlWPgGcpPIXwDFhFIN4BdxhGMXQAHCTyl3AtercArQLPTaHwwMrN1qtlvSyIlFyd1xaNSrlVp4WRhdmYFUGVPuq3Z7Wx0oGPZ//JYxiWdnbDgIQC5M6q0lPzOn3D8TD73fdMb4HL4Cp2zrb/4DrNVhs1tnyEsxfwI3+AvOlUD7FY+VVAAAAIGNIUk0AAHolAACAgwAA9CUAAITRAABtXwAA6GwAADyLAAAbWIPnB3gAAAECSURBVHjapNK9K8UBFIfxD12im8LEYLgZjcpgUFgUCUlZTJRkMpqUxR+hDFIGhWwGwy0MFiUxSCbZ5DXiYjnqdvvpvnim0+mcZ/ieU9U6tySBNEbQjBpMoANZnGIdl4VLKcm8YCPqbgzhAT1ox1mSrFpxjtCHLdygH5tJgymlMYhhtKH+r6FishYsYBpN0dvFHu5wi9okWToC/0AmcpqM+pd7PKMRDajDNb5xlS97Qyem0BsL8IT9uOAhXpGLvL/wGXO5fFkOO7FwHvJtLOOilGALM8vE1d6xiFVlkP8aXTjAI8bKFeXLBuJ3shjFiQpIYR6zWMFaXFOlsnHM4Ng/+RkAdVE2mEeC7WYAAAAASUVORK5CYII="); background-size: 19px 13px; background-position: 0px 0px; background-repeat: no-repeat;')
              .row
                .col-xs-12.col-sm-6
                  input#phone.form-control(placeholder='Phone*', name='phone', type='text')
                  span(style='opacity: 1; left: 213px; top: 20.5px; width: 19px; min-width: 19px; height: 13px; position: absolute; border: none; display: inline; visibility: visible; z-index: auto; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAANCAYAAABLjFUnAAAACXBIWXMAAAsTAAALEwEAmpwYAAABMmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarZG9SsNQGIaf04qCQxAJbsLBQVzEn61j0pYiONQokmRrkkMVbXI4Of508ia8CAcXR0HvoOIgOHkJboI4ODgECU4i+EzP9w4vL3zQWPE6frcxB6PcmqDnyzCK5cwj0zQBYJCW2uv3twHyIlf8RMD7MwLgadXr+F3+xmyqjQU+gc1MlSmIdSA7s9qCuATc5EhbEFeAa/aCNog7wBlWPgGcpPIXwDFhFIN4BdxhGMXQAHCTyl3AtercArQLPTaHwwMrN1qtlvSyIlFyd1xaNSrlVp4WRhdmYFUGVPuq3Z7Wx0oGPZ//JYxiWdnbDgIQC5M6q0lPzOn3D8TD73fdMb4HL4Cp2zrb/4DrNVhs1tnyEsxfwI3+AvOlUD7FY+VVAAAAIGNIUk0AAHolAACAgwAA9CUAAITRAABtXwAA6GwAADyLAAAbWIPnB3gAAAECSURBVHjapNK9K8UBFIfxD12im8LEYLgZjcpgUFgUCUlZTJRkMpqUxR+hDFIGhWwGwy0MFiUxSCbZ5DXiYjnqdvvpvnim0+mcZ/ieU9U6tySBNEbQjBpMoANZnGIdl4VLKcm8YCPqbgzhAT1ox1mSrFpxjtCHLdygH5tJgymlMYhhtKH+r6FishYsYBpN0dvFHu5wi9okWToC/0AmcpqM+pd7PKMRDajDNb5xlS97Qyem0BsL8IT9uOAhXpGLvL/wGXO5fFkOO7FwHvJtLOOilGALM8vE1d6xiFVlkP8aXTjAI8bKFeXLBuJ3shjFiQpIYR6zWMFaXFOlsnHM4Ng/+RkAdVE2mEeC7WYAAAAASUVORK5CYII="); background-size: 19px 13px; background-position: 0px 0px; background-repeat: no-repeat;')
                .col-xs-12.col-sm-6
                  select#about.form-control(name='about', style='display: none;')
                    option(value='0', selected='selected') I'm interested in
                    option(value='1') Projects
                    option(value='2') Employment
                  .btn-group.bootstrap-select.form-control
                    button.btn.dropdown-toggle.btn-default(type='button', data-toggle='dropdown', data-id='about', title="I'm interested in")
                      span.filter-option.pull-left I'm interested in
                      span.caret
                    .dropdown-menu.open
                      ul.dropdown-menu.inner(role='menu')
                        li.selected(data-original-index='0')
                          a(tabindex='0', data-normalized-text='<span class="text">I\'m interested in</span>', data-tokens='null')
                            span.text I'm interested in
                            span.glyphicon.glyphicon-ok.check-mark
                        li(data-original-index='1')
                          a(tabindex='0', data-normalized-text='<span class="text">Projects</span>', data-tokens='null')
                            span.text Projects
                            span.glyphicon.glyphicon-ok.check-mark
                        li(data-original-index='2')
                          a(tabindex='0', data-normalized-text='<span class="text">Employment</span>', data-tokens='null')
                            span.text Employment
                            span.glyphicon.glyphicon-ok.check-mark
              .row
                .col-xs-12.col-sm-12
                  textarea#message_entry.form-control(rows='5', placeholder='Message...', name='message_entry', cols='50')
              .row
                .col-xs-12.col-sm-8
                  p.required *Required
                .col-xs-12.col-sm-4
                  button.btn.btn-submit.pull-right(type='submit')
                    i —
                    |  Submit
        .row.thank-you.hide
          .col-xs-10.col-sm-12.col-xs-offset-1.col-sm-offset-0
            h4 We Copy That.
    .row
      .col-xs-12.col-sm-12
        p.text-center.copyright © 2014 FUTUREMAN DIGITAL. ALL RIGHTS RESERVED. ONE GIANT LEAP FOR YOUR BRAND.
