section.content-1.what-we-do
  .container
    .row
      .col-sm-12
        svg#whatwedo.whatwedo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 960 700', style='enable-background:new 0 0 960 700;', xml:space='preserve')
          g
            path(d='M34.932,394.994c3.96,0,8.145,0.585,11.834,4.14c2.655,2.565,4.32,6.075,4.32,10.754c0,4.725-1.62,8.145-4.095,10.619\
            c-4.14,4.186-9.314,4.5-11.834,4.5h-9.72v-30.013H34.932z M32.367,419.158h1.845c1.44,0,4.59-0.135,6.84-2.025\
            c1.62-1.35,2.925-3.915,2.925-7.245c0-3.24-1.305-5.31-2.475-6.479c-2.25-2.25-5.175-2.565-7.29-2.565h-1.845V419.158z')
            path(d='M76.827,400.843H66.792v5.805h9.54v5.85h-9.54v6.66h10.035v5.849H59.862v-30.013h16.964V400.843z')
            path(d='M101.532,402.328c-2.25-2.025-4.185-2.16-5.04-2.16c-0.945,0-2.115,0.135-2.925,1.035c-0.45,0.45-0.765,1.125-0.765,1.89\
            c0,0.72,0.225,1.26,0.675,1.665c0.72,0.675,1.755,0.945,3.78,1.71l2.25,0.855c1.305,0.495,2.925,1.17,4.095,2.295\
            c1.755,1.665,2.205,3.825,2.205,5.58c0,3.105-1.08,5.804-2.655,7.424c-2.655,2.79-6.525,3.06-8.505,3.06\
            c-2.16,0-4.05-0.314-5.939-1.26c-1.53-0.765-3.285-2.16-4.41-3.284l3.6-4.95c0.765,0.765,1.98,1.8,2.79,2.295\
            c1.17,0.72,2.385,1.08,3.78,1.08c0.9,0,2.16-0.18,3.15-1.035c0.585-0.495,1.08-1.305,1.08-2.43c0-0.99-0.405-1.62-1.035-2.16\
            c-0.81-0.675-2.655-1.35-3.51-1.665l-2.475-0.855c-1.395-0.495-3.015-1.125-4.185-2.385c-1.575-1.665-1.8-3.78-1.8-5.22\
            c0-2.655,0.81-4.905,2.61-6.75c2.115-2.16,4.635-2.745,7.425-2.745c2.07,0,5.4,0.36,8.91,2.97L101.532,402.328z')
            path(d='M121.467,394.994v30.013h-6.93v-30.013H121.467z')
            path(d='M146.217,408.628h14.894v0.315c0,3.645-1.305,9.18-4.635,12.644c-3.33,3.465-7.155,4.095-10.709,4.095\
            c-3.6,0-7.47-0.585-10.979-4.185c-1.755-1.799-4.41-5.444-4.41-11.429c0-4.905,1.8-8.82,4.32-11.384\
            c3.689-3.825,8.234-4.365,11.789-4.365c2.475,0,5.625,0.405,8.415,2.25c2.025,1.35,3.78,3.465,4.86,5.355l-6.255,3.375\
            c-0.585-1.17-1.485-2.385-2.655-3.24c-1.35-0.99-2.88-1.44-4.59-1.44c-2.745,0-4.77,0.9-6.21,2.43\
            c-1.665,1.755-2.565,4.32-2.565,7.109c0,3.42,1.26,5.625,2.52,6.885c1.755,1.8,3.78,2.34,6.075,2.34c2.97,0,4.545-1.035,5.22-1.62\
            c0.225-0.18,1.575-1.35,2.16-3.555h-7.245V408.628z')
            path(d='M169.887,425.007v-30.013h6.03l16.29,19.349v-19.349h6.93v30.013h-6.03l-16.29-19.438v19.438H169.887z')
            path.st0(d='M221.591,407.098h6.93v-6.93h5.67v6.93h6.93v5.22h-6.93v6.975h-5.67v-6.975h-6.93V407.098z')
            path(d='M270.64,394.994v30.013h-6.93v-30.013H270.64z')
            path(d='M280.945,425.007v-30.013h6.03l16.29,19.349v-19.349h6.93v30.013h-6.03l-16.29-19.438v19.438H280.945z')
            path(d='M330.895,400.843v24.164h-6.93v-24.164h-6.525v-5.85h19.979v5.85H330.895z')
            path(d='M361.628,400.843h-10.035v5.805h9.54v5.85h-9.54v6.66h10.035v5.849h-16.964v-30.013h16.964V400.843z')
            path(d='M381.384,394.994c3.825,0,6.21,1.26,7.65,2.61c1.26,1.215,2.61,3.375,2.61,6.705c0,1.89-0.405,4.23-2.34,6.12\
            c-1.035,0.99-2.52,1.89-4.185,2.295l9.225,12.284h-8.459l-8.1-11.834v11.834h-6.93v-30.013H381.384z M377.784,408.628h1.575\
            c1.26,0,2.97-0.135,4.14-1.305c0.495-0.495,1.125-1.44,1.125-2.925c0-1.709-0.81-2.61-1.395-3.06\
            c-1.125-0.855-2.925-0.945-3.825-0.945h-1.62V408.628z')
            path(d='M419.903,419.337h-11.34l-2.295,5.669h-7.2l12.104-30.013h6.345l11.834,30.013h-7.2L419.903,419.337z M418.013,414.028\
            l-3.69-10.08l-3.735,10.08H418.013z')
            path(d='M457.118,424.062c-2.655,1.35-4.815,1.619-6.615,1.619c-5.535,0-9.27-1.89-11.79-4.364c-2.7-2.61-4.68-6.57-4.68-11.384\
            c0-4.725,1.979-8.685,4.68-11.295c2.655-2.564,6.524-4.32,11.205-4.32c1.98,0,4.275,0.405,7.2,1.665v8.01\
            c-1.53-1.62-3.825-3.195-7.02-3.195c-2.52,0-4.544,0.81-6.12,2.34c-1.665,1.62-2.835,4.05-2.835,6.93c0,3.105,1.26,5.31,2.61,6.615\
            c0.63,0.63,2.79,2.52,6.48,2.52c1.8,0,4.23-0.495,6.885-3.105V424.062z')
            path(d='M476.783,400.843v24.164h-6.93v-24.164h-6.525v-5.85h19.979v5.85H476.783z')
            path(d='M497.617,394.994v30.013h-6.93v-30.013H497.617z')
            path(d='M512.287,394.994l7.604,19.214l7.604-19.214h7.47l-12.734,30.013h-4.68l-12.734-30.013H512.287z')
            path(d='M558.996,400.843h-10.034v5.805h9.54v5.85h-9.54v6.66h10.034v5.849h-16.964v-30.013h16.964V400.843z')
            path.st0(d='M580.507,407.098h6.93v-6.93h5.669v6.93h6.93v5.22h-6.93v6.975h-5.669v-6.975h-6.93V407.098z')
            path(d='M633.065,394.994c2.61,0,5.49,0.36,7.875,2.475c2.564,2.25,2.925,5.22,2.925,7.29c0,3.78-1.44,5.895-2.565,7.064\
            c-2.385,2.43-5.534,2.655-7.649,2.655h-4.229v10.529h-6.93v-30.013H633.065z M629.421,408.808h2.475\
            c0.945,0,2.61-0.045,3.735-1.125c0.63-0.63,1.124-1.665,1.124-2.97c0-1.26-0.449-2.295-1.124-2.925\
            c-1.035-0.99-2.521-1.125-3.87-1.125h-2.34V408.808z')
            path(d='M662.36,394.994c3.825,0,6.21,1.26,7.649,2.61c1.26,1.215,2.61,3.375,2.61,6.705c0,1.89-0.405,4.23-2.34,6.12\
            c-1.035,0.99-2.521,1.89-4.186,2.295l9.225,12.284h-8.459l-8.1-11.834v11.834h-6.93v-30.013H662.36z M658.761,408.628h1.574\
            c1.261,0,2.971-0.135,4.141-1.305c0.495-0.495,1.125-1.44,1.125-2.925c0-1.709-0.811-2.61-1.396-3.06\
            c-1.125-0.855-2.925-0.945-3.824-0.945h-1.62V408.628z')
            path(d='M709.34,398.684c2.835,2.745,4.68,6.705,4.68,11.339c0,4.005-1.439,8.1-4.68,11.25c-2.79,2.699-6.57,4.409-11.609,4.409\
            c-5.625,0-9.45-2.249-11.7-4.409c-2.88-2.7-4.68-6.75-4.68-11.16c0-4.32,1.936-8.685,4.635-11.384\
            c2.025-2.025,5.76-4.41,11.745-4.41C702.41,394.318,706.325,395.758,709.34,398.684z M691.115,403.273\
            c-1.305,1.26-2.654,3.465-2.654,6.794c0,2.745,0.899,4.95,2.744,6.75c1.936,1.845,4.096,2.475,6.436,2.475\
            c3.06,0,5.22-1.125,6.659-2.565c1.17-1.125,2.61-3.24,2.61-6.705c0-3.105-1.261-5.4-2.61-6.75c-1.484-1.44-3.87-2.565-6.614-2.565\
            C695.075,400.708,692.735,401.653,691.115,403.273z')
            path(d='M732.29,394.994c3.96,0,8.145,0.585,11.835,4.14c2.654,2.565,4.319,6.075,4.319,10.754c0,4.725-1.62,8.145-4.095,10.619\
            c-4.14,4.186-9.314,4.5-11.834,4.5h-9.72v-30.013H732.29z M729.726,419.158h1.845c1.439,0,4.59-0.135,6.84-2.025\
            c1.62-1.35,2.925-3.915,2.925-7.245c0-3.24-1.305-5.31-2.475-6.479c-2.25-2.25-5.175-2.565-7.29-2.565h-1.845V419.158z')
            path(d='M782.6,412.768c0,2.88-0.36,6.435-3.33,9.494c-2.88,2.971-6.21,3.42-9.359,3.42c-3.15,0-6.48-0.449-9.36-3.42\
            c-2.97-3.059-3.329-6.614-3.329-9.494v-17.774h6.93v17.594c0,1.305,0.09,3.51,1.574,5.04c1.216,1.305,2.88,1.575,4.186,1.575\
            c1.305,0,2.97-0.27,4.185-1.575c1.485-1.53,1.575-3.735,1.575-5.04v-17.594h6.93V412.768z')
            path(d='M814.459,424.062c-2.654,1.35-4.814,1.619-6.614,1.619c-5.535,0-9.27-1.89-11.79-4.364c-2.699-2.61-4.68-6.57-4.68-11.384\
            c0-4.725,1.98-8.685,4.68-11.295c2.655-2.564,6.525-4.32,11.205-4.32c1.979,0,4.274,0.405,7.199,1.665v8.01\
            c-1.529-1.62-3.824-3.195-7.02-3.195c-2.52,0-4.545,0.81-6.119,2.34c-1.665,1.62-2.835,4.05-2.835,6.93\
            c0,3.105,1.26,5.31,2.609,6.615c0.63,0.63,2.79,2.52,6.479,2.52c1.801,0,4.23-0.495,6.885-3.105V424.062z')
            path(d='M834.124,400.843v24.164h-6.93v-24.164h-6.524v-5.85h19.979v5.85H834.124z')
            path(d='M854.959,394.994v30.013h-6.93v-30.013H854.959z')
            path(d='M891.858,398.684c2.835,2.745,4.68,6.705,4.68,11.339c0,4.005-1.44,8.1-4.68,11.25c-2.79,2.699-6.57,4.409-11.609,4.409\
            c-5.625,0-9.45-2.249-11.7-4.409c-2.88-2.7-4.68-6.75-4.68-11.16c0-4.32,1.936-8.685,4.635-11.384\
            c2.025-2.025,5.76-4.41,11.745-4.41C884.929,394.318,888.844,395.758,891.858,398.684z M873.634,403.273\
            c-1.305,1.26-2.654,3.465-2.654,6.794c0,2.745,0.899,4.95,2.744,6.75c1.936,1.845,4.095,2.475,6.436,2.475\
            c3.06,0,5.22-1.125,6.659-2.565c1.17-1.125,2.61-3.24,2.61-6.705c0-3.105-1.261-5.4-2.61-6.75c-1.484-1.44-3.87-2.565-6.614-2.565\
            C877.594,400.708,875.254,401.653,873.634,403.273z')
            path(d='M905.314,425.007v-30.013h6.029l16.289,19.349v-19.349h6.93v30.013h-6.029l-16.289-19.438v19.438H905.314z')
          line.st1(x1='184.511', y1='171', x2='184.511', y2='322')
          line.st1(x1='388', y1='0', x2='388', y2='110')
          line.st1(x1='770', y1='704', x2='770', y2='493')
