extends ./layout.pug

block vars
  - var prismicDoc = doc

block body

  include ./partials/header.pug

  for slice in doc.getSliceZone('home.body').slices

    case slice.sliceType
      when 'hero-carousel'
        include ./partials/hero-carousel.pug
      when 'contact-modal'
        include ./partials/contact-modal.pug
      when 'what-we-do-animation'
        include ./partials/what-we-do-animation.pug
      when 'elevator-pitch'
        include ./partials/elevator-pitch.pug
      when 'who-we-are'
        include ./partials/who-we-are.pug
      when 'case-studies'
        include ./partials/case-studies.pug
      when 'what-we-do'
        include ./partials/what-we-do.pug
      when 'people'
        include ./partials/people.pug
        
  include ./partials/footer.pug