doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  title Futureman Digital | Design + Interactive + Production
  link(rel="stylesheet", type="text/css", href="/css/frontend.css")
  link(rel="stylesheet", type="text/css", href="/css/custom.css")
  script(src="/js/modernizr-respond.min.js")
  script(src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous")
  script(src="/js/snap.min.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")
  script.
    window.Router = !{JSON.stringify(Router)}
body
  block body

script(src="/js/frontend.js")
